<ul class="nav navbar-nav">
   <li class="{{ (app.request.attributes.get('_route') == 'index')  ? 'active': ''}} lien">
<a href="{{ path('index') }}"><i class="fa fa-home sr-icons"></i> Home</a></li>

   <li class="{{ (app.request.attributes.get('_route') == 'about')  ? 'active': ''}} lien">
<a href="{{ path('index') }}"><i class="fa fa-home sr-icons"></i> About</a></li>

<li class="{{ (app.request.attributes.get('_route') == 'blog')  ? 'active': ''}} lien">
<a href="{{ path('index') }}"><i class="fa fa-home sr-icons"></i> Blog </a></li>

   <li class="{{ (app.request.attributes.get('_route') == 'contact')  ? 'active': ''}} lien">
<a href="{{ path('index') }}"><i class="fa fa-home sr-icons"></i>Contact</a></li>

</ul>
